/*Reset to avoid browser defaults.*/
* {
    margin:0;
    padding:0;
}

body {
    background-image: url("/img/background-business.jpg");
    background-color: #cccccc;
    background-size:cover;
}

#navbar {
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.navbar-button {
    background: transparent;
    border: none;
    color: lightgrey;
    float: right;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;

}

#logo {
    width: 10%;
    height: auto;
    padding-left: 10px;
    padding-top: 7px;
}


h1{
    font-size: 30px;
    color: rgba(55,90,125,1);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
table{
    width:100%;
    table-layout: fixed;
}


.tbl-header{
    background-color: rgba(255,255,255,0.7);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.tbl-content{
    height:300px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow-x:auto;
    background-color: rgba(55,90,125,0.7);

}
th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgba(55,90,125,1);
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}