<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <script src="/js/navbar.js" defer></script>
    <meta charset="UTF-8">
    <title>KulcsSoft</title>
</head>
<body>

<div id="navbar">
    <img id= "logo" src="/img/kulcssoft.png">
    <button class="navbar-button" id="add">Add New User</button>
    <button class="navbar-button" id="delete">Delete User</button>
    <button class="navbar-button" id="list">List All Users</button>
</div>

</body>
</html>