<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <script src="/js/navbar.js" defer></script>
    <script src="/js/user-ajax.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>KulcsSoft</title>
</head>
<body>

<div id="navbar">
    <img id= "logo" src="/img/kulcssoft.png">
    <button class="navbar-button" id="add">Add New User</button>
    <button class="navbar-button" id="delete">Delete User</button>
    <button class="navbar-button" id="list">List All Users</button>
</div>

<div id="table-div" style="display: none">
    <div class="tbl-header">
        <table  cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>E-mail address</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table class="table-container" cellpadding="0" cellspacing="0" border="0">
            <tbody id="user-table"></tbody>
        </table>
    </div>
</div>

</body>
</html>